<!DOCTYPE html>
<html lang="en">
  <head>
    <meta>
    <link rel="stylesheet" type="text/css" href="">
    <title></title>
  </head>
  <body>

    {% for cc in cc_list %}
      <li><a href="./{{ cc.url_name }}">{{ cc.display_name }} </a></li>
    {% endfor %}

    <p>
      <a href="https://www.reddit.com/r/StarVStheForcesofEvil/comments/cll9u5/star_vs_the_forces_of_evil_ask_me_anything/">
        Original AMA Session (EXTERNAL)
      </a>
    </p>
    <p>
      <a href="https://www.reddit.com/r/StarVStheForcesofEvil/comments/clnrdv/link_compendium_of_questions_and_answers_from_the/">
        Link Compendium to AMA (EXTERNAL)
      </a>
    </p>

  <script src=""></script>
  </body>
</html>
