<!DOCTYPE html>
<html lang="en">
  <head>
    <meta>
    <link rel="stylesheet" type="text/css" href="">
    <title></title>
  </head>
  <body>

    {% for query in query_list %}
      <p>
        <a href="https://www.reddit.com/r/StarVStheForcesofEvil/comments/cll9u5/star_vs_the_forces_of_evil_ask_me_anything/{{ query.url_id }}/?context=3">
          {{ query.fan_name }} asks...
        </a> {{ query.question_text }}
      </p>
      <p>{{ query.content_creator.display_name }}: {{ query.answer_text }}</p>
      <hr />
    {% endfor %}

  </body>
</html>
